body {
  margin-top: 0;
  
  text-align: center; 
background-position: inherit;
  background-image: url('./wallpaperflare.com_wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: 1418px 726px;
}

